@page "/Account/InvalidUser"

<PageTitle>Invalid User</PageTitle>

<div class="alert alert-danger" role="alert">
    Error: Unable to load user account. Please log in again.
</div>

<a href="/Account/Login" class="btn btn-outline-primary">Log in</a>

