@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="alert alert-warning" role="alert">
    This account has been locked out. Please try again later.
</div>

<a href="/Account/Login" class="btn btn-outline-primary">Log in</a>

